<div class="card">
  <img src="https://www.simplyrecipes.com/wp-content/uploads/2014/05/guacamole-horiz-a-1600.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Guacamole</h5>
  </div>
</div>