body {
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
 }
a {
  text-decoration: none;
  color: inherit;
}
input[type=email] {
  width: 248px;
  padding: 16px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FF59B3;
  border-radius: 0px;
  padding: 8px;
}


input[type=password] {
  width: 248px;
  padding: 16px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FF59B3;
  border-radius: 0px;
  padding: 8px;
}
input[type=text] {
  width: 248px;
  padding: 16px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FF59B3;
  border-radius: 0px;
  padding: 8px;
}
label {
  font-weight: 600;
  color: #FF59B3;
}
.btn-main { 
  font-size: 14px;
  font-weight: 600;
  width: 248px;
  height: 48px;
  background-color: #FF59B3;
  color: #FFF;
  border: 0px solid #FF59B3;
  border-radius: 100px;
  text-align: center;
  line-height: 48px;
  margin-top: 24px;
}
.btn-main:hover { 
  background-color: #FF39A6;
  color: #FFF;
}
.btn-secondary { 
  font-size: 14px;
  font-weight: 600;
  width: 248px;
  height: 48px;
  background-color: #FFF;
  color: #FF59B3;
  border: 1px solid #FF59B3;
  border-radius: 100px;
  text-align: center;
  line-height: 48px;
  margin-top: 24px;
}
.btn-secondary:hover { 
  background-color: #FF39A6;
  color: #FFF;
  border: 0px solid #FF39A6;
}
.fas {
  color: #FF59B3;
  padding-right: 8px;
}
#start-image {
  margin: 64px 0;
  max-width: 320px;
  min-width: 248px;
}