@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1z0fg2');
  src:  url('../fonts/icomoon.eot?1z0fg2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1z0fg2') format('truetype'),
    url('../fonts/icomoon.woff?1z0fg2') format('woff'),
    url('../fonts/icomoon.svg?1z0fg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
  padding: 8px;
  margin: 8px;
  border-bottom-left-radius: 16px;
}
.ico-font {
  color: #00CCB2;
  font-size: 42px;
  padding: 8px;
}

.icon-aubergine:before {
  content: "\e900";
}
.icon-avocado:before {
  content: "\e901";
}
.icon-banana:before {
  content: "\e902";
}
.icon-blueberry:before {
  content: "\e903";
}
.icon-broccoli:before {
  content: "\e904";
}
.icon-cabbage:before {
  content: "\e905";
}
.icon-cauliflower:before {
  content: "\e906";
}
.icon-coconut:before {
  content: "\e907";
}
.icon-cucumber:before {
  content: "\e908";
}
.icon-galia-melon:before {
  content: "\e909";
}
.icon-giant-pumpkin:before {
  content: "\e90a";
}
.icon-grapefruit:before {
  content: "\e90b";
}
.icon-lemon:before {
  content: "\e90c";
}
.icon-lettuce:before {
  content: "\e90d";
}
.icon-lime:before {
  content: "\e90e";
}
.icon-mango:before {
  content: "\e90f";
}
.icon-melon:before {
  content: "\e910";
}
.icon-nothing:before {
  content: "\e911";
}
.icon-olive:before {
  content: "\e912";
}
.icon-onion:before {
  content: "\e913";
}
.icon-orange-seed:before {
  content: "\e914";
}
.icon-orange:before {
  content: "\e915";
}
.icon-papaya:before {
  content: "\e916";
}
.icon-pear:before {
  content: "\e917";
}
.icon-pineapple:before {
  content: "\e918";
}
.icon-pomegranate:before {
  content: "\e919";
}
.icon-poppy-seed:before {
  content: "\e91a";
}
.icon-prune:before {
  content: "\e91b";
}
.icon-pumpkin:before {
  content: "\e91c";
}
.icon-raspberry:before {
  content: "\e91d";
}
.icon-small-pumpkin:before {
  content: "\e91e";
}
.icon-strawberry:before {
  content: "\e91f";
}
.icon-sweet-pea:before {
  content: "\e920";
}
.icon-sweet-potato:before {
  content: "\e921";
}
.icon-vanila-seed:before {
  content: "\e922";
}
.icon-watermelon:before {
  content: "\e923";
}
.icon-winter-melon:before {
  content: "\e924";
}
.icon-winter-pumpkin:before {
  content: "\e925";
}
.icon-yellow-melon:before {
  content: "\e926";
}



body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
 }
a {
  text-decoration: none;
  color: inherit;
}
input[type=email] {
  width: 248px;
  padding: 16px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FF59B3;
  border-radius: 0px;
  padding: 8px;
}


input[type=password] {
  width: 248px;
  padding: 16px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FF59B3;
  border-radius: 0px;
  padding: 8px;
}
input[type=text] {
  width: 248px;
  padding: 16px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FF59B3;
  border-radius: 0px;
  padding: 8px;
}
label {
  font-weight: 600;
  color: #FF59B3;
}
.btn-main { 
  font-size: 14px;
  font-weight: 600;
  width: 248px;
  height: 48px;
  background-color: #FF59B3;
  color: #FFF;
  border: 0px solid #FF59B3;
  border-radius: 100px;
  text-align: center;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.btn-main:hover { 
  background-color: #FF39A6;
  color: #FFF;
}
.btn-secondary { 
  font-size: 14px;
  font-weight: 600;
  width: 248px;
  height: 48px;
  background-color: #FFF;
  color: #FF59B3;
  border: 1px solid #FF59B3;
  border-radius: 100px;
  text-align: center;
  line-height: 48px;
  margin-top: 24px;
}
.btn-secondary:hover { 
  background-color: #FF39A6;
  color: #FFF;
  border: 0px solid #FF39A6;
}
.fas {
  color: #FF59B3;
  padding-right: 8px;
}
#start-image {
  margin: 64px 0;
  max-width: 320px;
  min-width: 248px;
}

/* Navigation bar */

.nav-item > i {
  font-size: 1.6em;
}

/* Jumbotron */
.jumbotron {
  background-color: #FF39A6;
  width: 100%;
}

.main {
  position: relative;
}

.week {
  font-weight: 800;
  font-size: 200px;
  line-height: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: rgba(255, 255, 255, 0.2);
}

.sizes-info {
  color: #fff;
  font-size: 1.1em;
}

.size {
  color: #00CCB2;
  font-weight: 600;
  font-size: 14px;
}

.thin {
  font-weight: 600;
  margin: 8px 0;
}

.dotted {
  font-size: 8px;
  padding: 4px;
  color: #FF59B3
}

.clear {
  color: #FFCBE7;
}

.edit {
  color: #FF59B3
}

#jumbotron-welcome {
  color: #fff;
  font-weight: 600;
  font-size: 1.7em;
}

#jumbotron-first-column p {
  color: #fff;
  font-size: 1.1em;
}

/* #jumbotron-second-column p {
  color: #fff;
  font-size: 1.1em;
} */

.fa-tape , .fa-baby , .fa-circle-notch, .fa-weight  {
  color: #fff;
}

hr {
  color: #fff;
}

/* Baby syze / Events */
#babysize-home {
  margin-bottom: 2em;
}

#babysize-home > h4 {
  color: #FF39A6;
  font-weight: 600;
}

/* Recommended recipes */
#recommended-recipes > h4 {
  color: #FF39A6;
  font-weight: 600;
}

#recommended-recipes-row {
margin-bottom: 6em;
}

/* Cards */

/* Profile */
#profile-form {
  margin-bottom: 6em;
}

.food-recomendation {
  height: 64px;
  border-radius: 16px;
  color: white;
}
.warning {
  background-color: #FF7426;
}
.recomended {
  background-color: #00CCB2;
}

.food-recomendation > .fas {
  color: white;
} 

.food-recomendation > p {
  margin-bottom: 0;
}

.foods-query {
  color: #FF39A6;
  font-weight: 600;
}

.food-recipes {
  margin-bottom: 5em;
}