<div class="container bg" id="start-main-container">
  <div class="container" id="start-image">
    <img src="/images/start_mom.jpg" class="img-fluid">
  </div>
  <div class="container" id="start-buttons">
    <div class="row">
      <div class="col">
        <a href="http://localhost:3000/user/login" class="btn btn-primary">Login</a>
      </div>
      <div class="col">
        <a href="http://localhost:3000/user/new" class="btn btn-outline-primary">Signup</a>
      </div>
    </div>
  </div>
</div>