<div class="container bg d-flex flex-column align-self-center" id="start-main-container">
  <div class="container d-flex flex-column align-self-center" id="start-image">
    <img src="/images/logo.png" class="img-fluid">
  </div>
  <div class="container d-flex flex-column align-self-center" id="start-buttons">
    <div class="row d-flex flex-column align-self-center">
        <a href="http://localhost:3000/login" class="btn-main">Login</a>
    </div>
    <div class="row d-flex flex-column align-self-center">
      <a href="http://localhost:3000/user/new" class="btn-secondary">Signup</a>
    </div>
  </div>
</div>
